.one{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    

}
b{
    font-size: xx-large; 
}

.div.a{
    padding-top: 200px;
    padding-left: 80px;
    
}
.a1{
    padding-bottom: 10px;
    
}
.a1.p{
    font-size: large;
}
.ho{
    padding-left: 20px;
    
}
.a2{
    padding-bottom: 10px;
}
fieldset{
    margin: 200px;
    margin-top: 10px;
}
.a3{
    padding-bottom: 10px;

}
.hi{
    padding-left: 20px;
    padding-bottom: 50px;
}
.c1{
    float: right;
    padding-right: 40px;
    padding-top: 20px;
    line-height: 5px;
}
.c2{
    font-size: xx-large;
    font-weight: 300;
}
.c3{
    font-size: x-large;
}
.c4.ul{
    line-height: 10px;
}
.c5.c6{
    padding-left: 30px;

}
.c7{
    float: right;
    padding-right: 40px;
    padding-top: 20px;
    line-height: 5px;
}
.c8{
    font-size: xx-large;
    padding-left: 10px;
    font-weight: 300;
}
.c9{
    font-size: x-large;
    padding-left:  10px;
}