div {
    margin-left: 20px;
    background-image: url(2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: medium;
    text-align: justify;
    
}
p{
    line-height: 1.6;
    color: whitesmoke; 
    padding-left: 20px;

}
h2{
    line-height: 0.4;
    padding-top: 20px;
    font-size: x-large;
    color: greenyellow;
}
p.eighth_paragraph{
    padding-bottom: 20px;


}